.env 
.env_bak
.env_old
.env_filemail
.env_heroku
.env_pythonanywhere
.export_for_heroku
git_config
gunishort.sh 
local_reloader.sh
odherokowac
Dockerfile 
logs 
reloader.sh 

in.sh
cure.sh
test.py
mydatabase

staticfiles
emails_file
templates/plans
templates/tagi
digitalmarket/settings_local.py 
digitalmarket/bak
digitalmarket/tests

