{% extends "base.html" %}

{% block content %}
<div class='row justify-content-center'>
<div class='col-12'>
<h1>Your Profile</h1>
<hr/>
</div>

{% if request.user.is_authenticated %}


<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6  col" style="padding-bottom: 10px;  padding-top: 10px;">
    <div class="card profile_card">
      <div class="card-body">
       <div class='list-group'>

<a class='btn btn-outline-dark btn-sm' style="padding-bottom: 10px;  padding-top: 10px;" href='{% url "library" %}'>My Purchases</a>
<a class='btn btn-outline-dark btn-sm' style="padding-bottom: 10px;  padding-top: 10px;" href='{% url "sellers:dashboard" %}'>My Sales</a>
<a class='btn btn-outline-dark btn-sm' style="padding-bottom: 10px;  padding-top: 10px;" href=''>Billing Address</a>
<a class='btn btn-outline-dark btn-sm' style="padding-bottom: 10px;  padding-top: 10px;" href=''>Payment Methods</a>
<a class='btn btn-outline-dark btn-sm' style="padding-bottom: 10px;  padding-top: 10px;" href='{% url "accounts:password_reset"  %}'>Change Password</a>

            </div>
      </div>
    </div>
</div>

{% endif %}


{% endblock %}