{% extends 'accounts/base_accounts.html' %}

{% block title %}Reset completed{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Reset complete</h3>
          <p>You password is reset.</p>
          <a href="{% url 'accounts:home' %}" class="btn btn-secondary btn-block">My Profile</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
