{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% load inclusion_tags %}


<HTML lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
<meta name="description" content="">
<meta name="author" content="">

<meta name="_token" content="{{csrf_token}}">


<link rel="icon" href="{% static 'img/favicon.ico' %}">
<link rel='stylesheet' href="{% static 'css/base.css' %}" />


<!-- dwa nizej - to samo: -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext">
<link rel="stylesheet" href="{% static 'css/google_cyrillic_greek.css' %}">


<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<script src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
        crossorigin="anonymous"></script>


<link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<!-- <link rel="stylesheet"
      href = "https://netdna.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      id="bootstrap-css">
 -->


<title>
{%block title%}  {%endblock title%}
</title>

<style>
{% block style %} {% endblock style %}
</style>



</head>

<body>
{% block body %}

 <div class="container clearfix">
  {% include 'navbar.html' %}
 </div>

<div class="container maincontent">





{% autoescape off %}{% bootstrap_messages %}{% endautoescape %}
{% block jumbotron %} {% endblock jumbotron %}


{% block content %}
 
{% endblock content %}

</div>




<div class="kontener footer">
{% include 'footer.html' %}
</div>



{% endblock body %}


<!-- Optional JavaScript for Bootstrap4 -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<!-- <script src="https://netdna.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js">
</script>
 -->
<script src="{% static 'js/django.csrf.js' %}"> </script>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<!-- <script type="text/javascript">
$(document).ready(function(){
  })
</script> -->

<script>
   {% block jquery %}
   {% endblock jquery %}
</script>
<!-- miedzy tym ajaxem a odwolaniem body niczego nie dawac -->

</body>
</html>
